In [12]:
import cx_Oracle

In [13]:
con=cx_Oracle.connect("system/123456@localhost/xe")

In [14]:
cur=con.cursor()

In [15]:
cur.execute("""CREATE TABLE Employer(
 CompanyID varchar2(5) PRIMARY KEY,
 CompanyName Varchar2(50) NOT NULL,
 EmailID Varchar2(30),
 Mobile Number(10) CHECK (length(Mobile)=10),
 City Varchar2(15),
 IndustryType Varchar2(20),
 FunctionalArea Varchar2(20),
 MembershipPlan Varchar2(20) CHECK (MembershipPlan IN('Trial','Monthly','Yearly')),
 DateofSignup Date,
 DateofRenewal Date,
 RenewalStatus Varchar2(10) CHECK (RenewalStatus IN('Active','Expired')))""")

ERROR:root:An unexpected error occurred while tokenizing input
The following traceback may be corrupted or invalid
The error message is: ('EOF in multi-line string', (1, 73))

DatabaseError: ORA-00955: name is already used by an existing object

In [16]:
print(cur.description)

None